h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  max-width: 1366px;
  height: auto;
  background-image: url("../image/background1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 1030px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 46px;
  margin-bottom: 22px;
}

.logo {
  display: flex;
  gap: 8px;
}

.logo-img {
  width: 53px;
  height: 47px;
  background-image: url("../image/logo-mil-hov-new.png");
  background-position: -10px -10px;
}

.logo:hover .logo-img {
  background-image: url("../image/logo-mil-hov-new.png");
  background-position: -83px -10px;
}

.logo-text h1 {
  color: #fff;
  font-weight: 700;
  font-size: 29px;
  line-height: 1;
}

.logo-text p {
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
}

.logo:hover .logo-text p,
.logo:hover .logo-text h1 {
  color: #f26522;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 19px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
}

.address a:hover,
.address a:focus {
  color: #f26522;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 260px);
  column-gap: 55px;
  row-gap: 37px;
  margin-bottom: 48px;
}

.grid-item:hover .title {
  color: #f26522;
}

.grid-item:hover .aside {
  opacity: 1;
  transform: translateY(-55px);
}

.image {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.title {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  color: #ffffff;
}

.image-and-title {
  position: relative;
}

.aside {
  background-color: #f26522;
  width: 100%;
  height: 55px;
  position: absolute;
  bottom: -17px;
  left: 0;
  padding-top: 7px;
  padding-left: 16px;
  opacity: 0;
}

.aside p {
  font-size: 10px;
  line-height: 10px;
  color: #fff;
}

.details {
  display: flex;
  align-items: center;
  gap: 128px;
  margin-top: 8px;
}

.details h3 {
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
}

.details p {
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}

.details p::after {
  content: "";
  background-image: url(../image/details.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 5px;
  height: 10px;
  margin-left: 16px;
  top: 31px;
}

.footer {
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  color: #ffffff;
  padding-bottom: 15px;
}
